*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    height: 2000px;
    width: 1040px;
   /*border: 1px solid red;*/
    margin: 0px auto;
}

.navbar{
    width: 100%;
    height: 110px;
    background-color: rgb(205, 6, 6);
    text-align: center;
    justify-content: center;
}

.heading{
    font-size: 25px;
    color: white;
    font-weight: 700;
    padding-top: 20px;
    margin: 0;
}

.sub_heading{
    color: white;
    font-weight: 700;
  margin: 0;
  padding: 0;
}

.panel{
    background-color: black;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}
 .panel ul{
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
  
 }
 
 .panel ul li{
    list-style: none;
display: inline-block;
margin-left: 30px;
 }

.panel ul li a{
    text-decoration: none;
  color: white;
  font-weight: bold;

 }

 .panel ul li a:hover{
    color: orange;
 }

.search-icon i{
   color: white;
font-size: 18px;
cursor: pointer;
 }

 .search-icon i:hover{
    color: orange;
 }

 .channel{
     height:50px;
     width: 1000px;
     /*background-color: red;*/
    margin:22px auto; 
    display: flex;
    justify-content: center;
    gap: 8px;
 }
 .channel_first{
   height: 35px;
   width: 450px;
  /*background-color: green;*/
   text-align: center;
   font-size: 20px;
   border-radius: 8px;
  justify-content: center;
  align-items: center;
padding: 5px;
  display: flex;
 }
 .channel_first a{
   color: white;
   text-decoration: none;
  font-weight: bold;
 }

 .panel2{
   height: 30px;
  background-color:#cccccc34 ;
  padding-left: 400px;
display: flex
 }

 .live{
   height: 25px;
   width: 70px;
   background-color: white;
   border-radius: 70px;
   border: 3px solid black;
   align-items: center;
   text-align: center;
   font-size: 15px;
   font-weight:700;
   margin-top: 2px;
   display: inline-flex;
   align-items: center;
 }

.dot{
   height:12px;
   width: 12px;
   background-color: red;
   border-radius: 50%;
   display: inline-block;
   margin-left: 4px;
   margin-right: 8px;
   animation: blink 1s steps(1,end) infinite;
 }
 @keyframes blink{
  0%   { opacity: 1; transform: scale(1); }
  50%  { opacity: 0; transform: scale(.9); }
  100% { opacity: 1; transform: scale(1); }
}

 .panel2 p{
   line-height: 1px;
   margin-left: 5px;
   font-size: 16px;
 }

 .blink{
   animation: blinker 1.2s cubic-bezier(0, 5, 0, 1, 1) infinite alternate;
 }

 @keyframes blinker {
   from { opacity: 0.9;}
   to { opacity: 0.1;}
 }

 .elementor-widget-container{
  height: 70px;
  /*background-color: aqua;*/
  margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    flex-direction: initial;
    flex-wrap: initial;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    gap: initial;
    flex-basis: initial;
    flex-grow: initial;
    flex-shrink: initial;
    order: initial;
    align-self: initial;
    align-self: initial;
    align-self: var(--align-self);
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
}

 .box{
  height: 80px;
  /*background-color: orange;*/
  display: flex;
   align-items: center;
    margin:22px auto; 
    justify-content: center;
    gap: 8px;
    margin: 2px;
    
 }

 .boxes{
  height: 75px;
  width: 300px;
  display: flex;
  border-radius: 12px;
 }

.boxes a{
   color: white;
   text-decoration: none;
   text-align: center;
  font-weight: bold;
  justify-content: center;
  align-content: center;
 }

 .latest-news{
min-height: 400px;
  height: auto;
  width: 1004px;
  /*back0ground-color: #ccc;*/
  display: flex;
  margin: 22px auto;
  gap: 2px;
 }
 .card{
  min-height: 500px;
  height: auto;
  width: 500px;
  border: 2px solid rgb(205, 6, 6);
  float: left;
  margin: 2px;
  align-items: center;
  justify-content: center;

  
 }

 .card-header{
  height: 40px;
  width: 100%;
  color: #fff;
  background: linear-gradient(90deg,#4a1a9e 0%,#b3123a 100%);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
 }

 .card ul{
  padding-left: 20px;
  margin-top: 6px;
 }
 .card ul li a{
font-size: 15px;
padding-right: 6px;
line-height: 15px;

 }
 .card ul li a:hover{
  color: red;
 }

.inner-box{
  height: 30px;
  width: 90px;
  color: white;
  background-color: navy;
  border-radius: 50px;
  text-align: center;
  line-height: 29px;
  font-size: 14px;
 float: right;
 margin-top:10px;
 margin-right: 10px;
 cursor: pointer;
}

.footer{
  height: 250px;
  width: 980px;
    border: 2px solid rgb(205, 6, 6);
    display: block;
     margin:22px auto;   
}

.heading2{
  background-color: rgb(205, 6, 6);
  height: 30px;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
 line-height: 30px;
font-size: 20px;
}

.news1 p{
  letter-spacing: 0.1px;
  line-height: 20px;
}

